#compilable conf

{~$e+dWqYtiMtxHO7gko1xl02vbjZ4E1lOUIEoZhyN2NB4cZ5mLpK4o5ZaT4vJjr1ozc6qh4rdq9KuejzlWWJWO9RuZwVSkMYnaNTyGymeNNg2rt5+6UftcwqzBhLYVPkv6czqKAZFAHPRwD3aZh1oaeGzIE6tKo4olV/BxwXRFUjQCHY3wq/oU+1bmdVHAm8X2QDHVoJIDIGrvsmccdufVNI2M/FcJ64pHzDam5CJ8Y4bc3C3qqZMh3YEAyV55tUhScDI+OkVIqg3TlhMazG5PIjZXg80iym0bWOTSQJU9hlbZ6jpKt5CUUVkbirYr5nwnYnRiwZlsNLZpC/aOXP4SSA==}
