#compilable conf

{~$VvcYw3vH5K2XGCLR5ryX/+rnwlfELkYCFzXQnmotBGf3H4tqA/crhgxe25QlFtWiD9DOWEGrpNHdeRrvA9ei+L+s5d9/9IIkKV+UJdwya+LIx4ii7OWZ7CIhroHwiv+BZZmpOYPrr30Ti7AJmq5QQZiW6B1c9WZ1FZtgqQ6pgJGrFbz5K8hLwesLZYmBS/wcAbCpoKcObBSQJLjreIgPAaoNzXrSfI8BUD4h2xPhJDXKZ1KFH9Vxo8jR/pEBtZKTUh19pmuNnHeZFKq7A77QyhiQgbZARQ1nPXnvBJSH1cUdbYTmjQx0WGyGixNs/LBairjlVb/quI8DLI/6rPe2XQ==}


